.administrador-conductores {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .contenido-principal {
    display: flex;
    height: 100%;
  }
  
  .contenido-tabla-conductores {
    flex: 1;
    padding: 20px;
  }
  
  .table-conductores {
    width: 100%;
    margin-top: 20px;
  }
  
  .filter-container-conductores {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .filter-container-conductores select,
  .filter-container-conductores input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .add-button-conductores {
    background-color: #23297F;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  